

.card{
  padding:2rem ;
}

.flex{
  display: flex;
  justify-content: space-between;
}
.p-field{
  /*display: grid;*/
  /*gap: 1rem;*/
}

.formgrid{
  /*display: flex;*/
  /*padding-bottom: 20px;*/
}
.custom-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 1.5rem; /* spacing between columns and rows */
  padding-bottom: 20px
}

.custom-grid .p-field {
  display: flex;
  flex-direction: column;
}
.next{
  display: flex;
  justify-content: flex-end;
}
